html(lang='ru')
	head
		meta(charset='UTF-8')
		title Сборка - День 1
		link(rel='stylesheet', href='css/main.css')
	body
		.wrapper
			h1 Первый урок
			h2 Gulp
			img(src="img/cat.jpg" alt="cat" width="500")

			p.paragraf-red супер! pug -самая крутая собачка
			.copyright
				p Ларета Баталова





		script(src='js/main.js')
	